<div class="container">
    <div class="row">
      <div class="col-3 bg-dark text-light height">
        <h4>Filter</h4>
        <label for="pageSize">Page Size</label>
        <input type="number" min="1" id="pageSize" [(ngModel)]="pageSize" (change)="updateList()">
      </div>
      <div class="col-9">
        <h4>Contact</h4>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col"><div class="float-right">
                    <button class="btn btn-success" routerLink="/contact-list/new">+</button>
                </div></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contact of currentPageContacts; let i = index">
                <td>{{contact.id}}</td>
                <td>{{contact.firstName}}</td>
                <td>{{contact.lastName}}</td>
                <td>
                  <div class="float-right">
                      <button class="btn btn-primary" routerLink="/contact-list/{{contact.id}}">Edit</button>
                      <button class="btn btn-danger" (click)="onDelete(contact)">Delete</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <nav>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" (click)="changePage(1)">First</a></li>
                <li class="page-item" *ngIf="isFirstPage()"><a class="page-link" (click)="changePage(currentPage-1)">{{currentPage - 1}}</a></li>
                <li class="page-item"><a class="page-link">{{currentPage}}</a></li>
                <li class="page-item" *ngIf="isLastPage()"><a class="page-link" (click)="changePage(currentPage+1)">{{currentPage + 1}}</a></li>
                <li class="page-item"><a class="page-link" (click)="changePage(maxPage)">Last</a></li>
              </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
